.login {
  width: 90% !important;
  max-width: 50rem !important;
  margin: 12rem auto !important;
  padding: 4rem !important;
  padding-bottom: 2rem !important;
  color: ghostwhite !important;
  background: rgba(0, 0, 0, 0.855) !important;
  border: 1px solid black !important;
  border-radius: 2rem !important;
}

.actions {
  text-align: center;
}

.title {
  margin-top: -3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title h2 {
  font-size: 2rem;
  color: ghostwhite;
}

.button {
  margin-top: 2rem;
}
