@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
}

body {
  margin: 0;
  background-color: #1e1e1e;
}

.fancy {
  margin: 10rem 10rem;
  color: white;
  text-align: center;
  font-size: 6rem;
}
