.button {
  transition: 150ms ease-out;
  font: inherit;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.5rem 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}

.button:hover,
.button:active {
  transition: 150ms ease-in;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  font-weight: normal;
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
